

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Manrope', sans-serif;

}

/* Here, 
      title-color to use text = orange-yellow color
    and .color-button for anchor tag button style 
    flexible-display for flex container
    container-head use to some head tag */

.title-color{
    color: #FFAD5A;
}
.color-button{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
}
.flexible-display{
    display: flex;
    width: 100%;
}
.container-head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
}



/* .....top container or section-01 style part */
#var-line{
    position:absolute;
    width: 5px;
    height: 90px;
    background-color: #FF5959;
    border-radius: 5px;
    margin-top: 55px;

}
.top-container{
    margin-top: 10%;  
}

.head-title, .profile-container{
    width: 50%;
}

.head-title{
    padding-left: 10%;
}
.head-title h1{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    padding-left: 10px;
}

.head-title p{
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-container img{
    width: 50%;
    margin: auto;
    padding-left: 20%;
}

/* .....middile container or section-02 style part */

.middle-container{
    margin-top: 5%;
    padding: 0 8%;
}

.card{
    width: 30%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.card img{
    width: 50%;
}
 .card h1{
     font-family: 'Poppins', sans-serif;
     font-size: 24px;
     font-weight: 600;
     padding: 0 5px;
    
 }
 .card p{
    font-family: 'Poppins', sans-serif;
    padding: 0 5px;
}

 /* ...  ...  card color */

 .card-color-01{
     background-color: rgba(79, 157, 166, 0.4);
     
 }
 .card-color-02{
    background-color: rgba(255, 89, 89, 0.4);
}
.card-color-03{
    background-color: rgba(255, 173, 90, 0.4);
}

 /*... ... ... last container-01 or section-03 */
.last-container-01{
    margin-top: 5%;
    padding: 0 8%;
    background-image: url(img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
 }

/* ... ... .. img and text contain 01  */

 .img-contain img{
     width: 70%;
     margin-left: 2%;
 }
 .text-contain{
    font-family: 'Poppins', sans-serif;
    margin-left: -5%;
 }
 .text-contain h1{
     margin-bottom: -2%;
     font-size: 35px;
 }
 .text-contain p{
    padding: 10px 0;
}
/*... ... ... last container-01 or section-03 */
/* ... ... .. img and text contain 02  */

.last-container-02{
    margin-top: 5%;
    padding: 0 8%;
    background-image: url(img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
 } 

.img-contain-02 {
    margin-right: -10%;
}
.img-contain-02 img{
    width: 80%;
}

.text-contain-02{
   font-family: 'Poppins', sans-serif;
   margin-left: 2%;
}
.text-contain-02 h1{
    margin-bottom: -2%;
    font-size: 35px;
}
.text-contain-02 p{
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 2%;
}

/*  .. ... .. contact me */

.contact-me{
    margin-top: 5%;
    padding: 0 8%;
}

.contact-me form{
    color: white;
background-color: #FF5959;
border-radius: 15px 15px 0 0;
padding: 30px 20px 20px 20px;
text-align: center;
height: 200px;


}
.contact-me form input{
   width: 40%;
   margin: 10px;
   border: 1px solid #FF5959;
   border-radius: 10px;

}
#question{
    width: 75%;
}
#submit{
    padding: 10px;
    color: #FF5959;
    background-color: white;

}


/*  ... ... .. footer */
footer{
    background-color: rgba(11, 13, 23, 1);
    text-align: center;
    padding: 8px;
  
}
footer h1{
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 25px;
}
#footer-text{
    color: #FF5959;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}
footer p{
    color: rgba(255, 255, 255, 0.623);
    font-size: 10px;
}